
<ion-content>

  <ion-tabs> 
    <ion-tab-bar slot='bottom' color="primary">
        <ion-tab-button tab='films'>
          <ion-icon name="videocam" size="large"></ion-icon>
          <ion-label>FILMS</ion-label>
        </ion-tab-button>
        <ion-tab-button tab='series'>
         <ion-icon name="play-circle" size="large"></ion-icon>
         <ion-label>SERIES</ion-label>
        </ion-tab-button>
        <ion-tab-button tab='jeux-video'>
          <ion-icon name="logo-game-controller-b" size="large"></ion-icon>
          <ion-label>JEUX VIDEO</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


</ion-content>
